body {
    background-color: #f8f9fa;
}

h1, h2 {
    color: #343a40;
}

.container {
    max-width: 600px;
    
}

.form-group, .form-check {
    margin-bottom: 1rem;
}

button {
    width: 100%;
}

.btn-option {
    font-size: 1.5rem;  /* Aumentado o tamanho do texto em 50% */
    border-radius: 10px;  /* Cantos suavizados */
    padding: 1rem;  /* Adiciona espaçamento interno */
    aspect-ratio: 1;  /* Mantém a proporção entre altura e largura */
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100px + 1vw); /* Ajusta altura */
}

.btn-submit {
    height: calc(80px + 1vw); /* Dobrar a altura do botão submit */
}

.invalid-feedback {
    display: block;
    margin-top: 0.5rem;
}

.chart-container{
    display: flex;
    align-items: left;
}

@media (max-width: 576px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    button {
        font-size: 1rem;
    }
}
